# OpenAI API Key (or other math API)
VITE_API_KEY=yousk-proj-xs2HfygK-i8rICK2p2XYsvQAKiYvGpkGnOoNAZFp-2NxZ09RzMJ05qY7jDa9j1IR9ZBIw2uqIGT3BlbkFJ033n6anwJQ7OhGxJAz4oatdgrcGDdyxtjDlpy3yrzjxpWt13v_dDpNasqeBZs0aP75aCUKHggA
VITE_API_BASE_URL=https://api.openai.com/v1
